@{
    ViewData["Title"] = "Home Page";
}

<script>
    var Url = "http://localhost:14183/api/checkIns";

    var addVisitor = function() {
        $.ajax({
            url: Url,
            type: "POST",
            data: {
                PersonFirstName: $("#personFirstName").val(),
                PersonLastName: $("#personLastName").val(),
                PersonBirthDate: $("#personBirthDate").val(),
                PersonSex: $("input:radio[name='visitorSex']:checked").val()
            },
            success: function() {
                $('#listView').data('kendoGrid').dataSource.read();
                $('#addWindow').data('kendoWindow').close();
            }
        });
    }

    var addCheckIn = function() {
        $('#addWindow').data('kendoWindow').center().open();
    }
</script>

<div id="addWindow">
    <div>
        <div class="form-group">
            <label>Имя</label>
            <input type="text" id="personFirstName" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Фамилия</label>
            <input type="text" id="personLastName" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Дата рождения</label>
            <input type="date" id="personBirthDate" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Пол</label>
            <label class="radio-inline">
                <input type="radio" name="visitorSex" value="1" /> Мужской
            </label>
            <label class="radio-inline">
                <input type="radio" name="visitorSex" value="2" /> Женский
            </label>
        </div>
        <button type="button" class="btn btn-default" onclick="addVisitor();">Добавить</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="listView"></div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#listView').kendoGrid({
            toolbar: '<button class="k-button k-button-icontext" onClick="addCheckIn();">Добавить посещение</button>',
            columns: [
                { field: 'personFullName', title: 'Полное имя' },
                { field: 'personSex', title: 'Пол' },
                { field: 'personBirthDate', title: 'Дата рождения', format: '{0: dd.MM.yyyy}' },
                { field: 'checkInVisitDateTime', title: 'Время посещения', format: '{0: dd.MM.yyyy HH:mm:ss}' },
                { command: 'destroy' }
            ],
            editable: 'inline',
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: Url,
                        type: 'GET'
                    },
                    destroy: {
                        url: function(data) {
                            return Url + '/' + data.checkInId;
                        },
                        type: 'DELETE'
                    }
                },
                schema: {
                    model: {
                        id: 'checkInId',
                        fields: {
                            checkInId: {editable: false},
                            personFullName: 'personFullName',
                            personSex: 'personSex',
                            personBirthDate: {type: 'date'},
                            checkInVisitDateTime: {type: 'date'}
                        }
                    }
                }
            })
        });

        $('#addWindow').kendoWindow({
            width: '400px',
            title: 'Добавить посещение',
            resizable: false,
            draggable: false,
            visible: false,
            modal: true,
            actions: ['close']
        });
    });
</script>