@{
    ViewData["Title"] = "Home Page";
}

<script>
    var Url = "http://localhost:14183/api/checkIns";

    var addVisitor = function() {
        $.ajax({
            url: Url,
            type: "POST",
            data: {
                PersonFirstName: $("#personFirstName").val(),
                PersonLastName: $("#personLastName").val(),
                PersonBirthDate: $("#personBirthDate").val(),
                PersonSex: $("#personSex").val()
            },
            success: function() {
                $('#listView').data('kendoGrid').dataSource.read();
                $('#addWindow').data('kendoWindow').close();
            },
            error: function(jqXhr) {
                var alertContainer = $('#addWindowAlertContainer');
                alertContainer.html(jqXhr.responseJSON.message);
                alertContainer.removeClass('hidden');
            }
        });
    }

    var addCheckIn = function() {
        $('#addWindow').data('kendoWindow').center().open();
    }
</script>

<div id="addWindow">
    <div>
        <div class="form-group">
            <label>Имя</label>
            <input type="text" id="personFirstName" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Фамилия</label>
            <input type="text" id="personLastName" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Дата рождения</label>
            <input type="date" id="personBirthDate" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Пол</label>
            <select id="personSex" class="form-control">
                <option value="1">Мужской</option>
                <option value="2">Женский</option>
            </select>
        </div>
        <div id="addWindowAlertContainer" class="alert alert-danger hidden" role="alert"></div>
        <button type="button" class="btn btn-default" onclick="addVisitor();">Добавить</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="listView"></div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#listView').kendoGrid({
            toolbar: '<button class="k-button k-button-icontext" onClick="addCheckIn();">Добавить посещение</button>',
            columns: [
                {
                    field: 'personFullName',
                    title: 'Полное имя',
                    editor: function(container, options) {
                        var firstNameInput = $('<input name="personFirstName" class="k-textbox" />');
                        firstNameInput.appendTo(container);

                        var lastNameInput = $('<input name="personLastName" class="k-textbox" />');
                        lastNameInput.appendTo(container);
                    }
                },
                {
                    field: 'personSex',
                    title: 'Пол',
                    editor: function(container, options) {
                        $('<select name="' + options.field + '">' +
                            '<option value="1">Мужской</option>' +
                            '<option value="2">Женский</option>' +
                          '</select>').appendTo(container).kendoComboBox();
                    },
                    template: function(dataItem) {
                        if (dataItem.personSex === 1) {
                            return 'Мужской';
                        } else if (dataItem.personSex === 2) {
                            return 'Женский';
                        } else {
                            return 'Не определен';
                        }
                    }
                },
                { field: 'personBirthDate', title: 'Дата рождения', format: '{0: dd.MM.yyyy}' },
                { field: 'checkInVisitDateTime', title: 'Время посещения', format: '{0: dd.MM.yyyy HH:mm:ss}' },
                { command: ['edit', 'destroy'], width: '250px' }
            ],
            editable: 'inline',
            dataSource: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: Url,
                        type: 'GET'
                    },
                    destroy: {
                        url: function(data) {
                            return Url + '/' + data.checkInId;
                        },
                        type: 'DELETE'
                    },
                    update: {
                        url: function(data) {
                            return Url + '/' + data.checkInId;
                        },
                        type: 'PUT'
                    }
                },
                schema: {
                    model: {
                        id: 'checkInId',
                        fields: {
                            checkInId: {editable: false},
                            personFullName: 'personFullName',
                            personSex: 'personSex',
                            personBirthDate: {type: 'date'},
                            checkInVisitDateTime: {type: 'date', editable: false}
                        }
                    }
                }
            })
        });

        $('#addWindow').kendoWindow({
            width: '400px',
            title: 'Добавить посещение',
            resizable: false,
            draggable: false,
            visible: false,
            modal: true,
            actions: ['close'],
            open: function () {
                var alertContainer = $('#addWindowAlertContainer');
                alertContainer.html(null);
                alertContainer.addClass('hidden');
            }
        });
    });
</script>